html {
  scrollbar-gutter: stable;
}

/* ======================================================= */
/* CODE ẨN ICON TỰ ĐỘNG ĐIỀN CỦA TRÌNH DUYỆT / EXTENSION  */
/* ======================================================= */

/* 1. Ẩn icon chìa khóa, xem mật khẩu và icon tự điền của Microsoft Edge */
input::-ms-clear,
input::-ms-reveal {
  display: none !important;
  width: 0 !important;
  height: 0 !important;
}

/* 2. Ẩn icon danh bạ, tự điền tài khoản/mật khẩu của Google Chrome */
input::-webkit-contacts-auto-fill-button,
input::-webkit-credentials-auto-fill-button {
  visibility: hidden !important;
  display: none !important;
  pointer-events: none !important;
  position: absolute !important;
  right: 0 !important;
}

/* 3. Đánh lừa và chặn các Extension bên thứ 3 (như 1Password, Bitwarden, Dashlane) */
input[autocomplete="new-password"] {
  background-image: none !important;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0px 1000px var(--container-bg) inset !important;
  -webkit-text-fill-color: var(--text-color) !important;
}

/* Trạng thái bình thường khi di chuột vào dòng file */
#fileList li {
  cursor: grab;
  cursor: -webkit-grab;
}

/* Trạng thái khi đang giữ chuột và kéo file đi */
#fileList li:active {
  cursor: grabbing;
  cursor: -webkit-grabbing;
}

/* Thêm hiệu ứng làm mờ nhẹ phần tử gốc khi đang được kéo đi */
.sortable-ghost {
  opacity: 0.4;
  background-color: rgba(14, 165, 233, 0.1) !important; /* màu xanh sky nhạt */
}

/* Trạng thái bình thường: Ẩn vòng xoay loading đi */
#btnUploadDrive .loading-spinner {
  display: none !important;
}

/* KHI ĐANG UPLOAD (Nút có class .is-uploading) */
/* 1. Ẩn icon đám mây/Drive gốc của bạn */
#btnUploadDrive.is-uploading > svg:not(.loading-spinner) {
  display: none !important;
}

/* 2. Hiện vòng xoay loading lên */
#btnUploadDrive.is-uploading .loading-spinner {
  display: inline-block !important;
  animation: button-spin 0.6s linear infinite !important;
}

@keyframes button-spin {
  to { transform: rotate(360deg); }
}